<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns="http://xmlns.jcp.org/xml/ns/javaee"
         version="3.1">

    <context-param>
        <param-name>logPath</param-name>
        <param-value>/home/dew/logs_de_acceso.txt</param-value>
    </context-param>

    <filter>
        <filter-name>Logs</filter-name>
        <filter-class>filtros.Logs</filter-class>
    </filter>

    <filter-mapping>
        <filter-name>Logs</filter-name>
        <url-pattern>/*</url-pattern>
    </filter-mapping>
    
    
    
    <login-config>
    <auth-method>BASIC</auth-method>
    <form-login-config>
        <form-login-page>/login.html</form-login-page>
        <form-error-page>/error.html</form-error-page>
    </form-login-config>
   </login-config>

  <security-constraint>
    <web-resource-collection>
        <web-resource-name>Área alumno</web-resource-name>
        <url-pattern>/alumno/*</url-pattern>
    </web-resource-collection>
    <auth-constraint>
        <role-name>rolalu</role-name>
    </auth-constraint>
  </security-constraint>
  
  
   <security-constraint>
    <web-resource-collection>
        <web-resource-name>Área profesores</web-resource-name>
        <url-pattern>/profesores/*</url-pattern>
    </web-resource-collection>
    <auth-constraint>
        <role-name>rolpro</role-name>
    </auth-constraint>
  </security-constraint>
    
    
 <!--  Declarar roles en la aplicación -->
  <security-role>
    <role-name>rolalu</role-name>
  </security-role>
  <security-role>
    <role-name>rolpro</role-name>
  </security-role>
  
  
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
  </welcome-file-list>

</web-app>
